
*{	
	-webkit-user-select: none;
}

body{
	background: #eee;
}
.ihponeWrap{
	float: left;
	margin: 40px;
	width: 320px;
	height: 506px;
	padding: 5px 3px;
	background: #000;
	border-radius: 5px;
}


.functionBar{	
	height: 26px;
	line-height: 24px;
	text-align: center;
	font-family: 'Unica One', cursive;
	font-size: 20px;
	font-weight: bold;
	color: #aaa;
}

.appContent{
	width: 320px;
	height:480px;
	border-radius: 5px;	
	background: #ddd;
	position: relative;
	overflow: hidden;
}

.appContent .header{
	height: 42px;
	width: 100%;	
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;	
	box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.2);	
}

.appContent .header .centerText{
	width: 200px;
	margin: 0px auto;
	margin-bottom: 5px;
	font-size: 24px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	color :#fff;
	text-shadow: 0 -1.5px 1px rgba(0,0,0,0.8);
	font-family: 'Gudea', sans-serif;
}

.appContent .header .button{
	margin: 6px 5px;

	border: 1px solid #333;
	border-radius: 5px;
	height: 28px;
	width: 40px;

	box-shadow: 0 1px 0 rgba(255,255,255,0.3),
				inset 0 1px 2px 0 rgba(0,0,0,0.4),
				inset 0 -10px 20px -2px rgba(0,0,0,0.2);
	cursor: pointer;
}

.appContent .header .button img{
	margin: 0 auto;
	display: block;
}
.appContent .header .leftButton{
	float:left;
}

.appContent .header .rightButton{
	float:right;
}