
*{	
	-webkit-user-select: none;
}

body{
	background: #eee;
}
.ihponeWrap{
	float: left;
	margin: 40px;
	width: 320px;
	height: 506px;
	padding: 5px 3px;
	background: #000;
	border-radius: 5px;
}


.functionBar{	
	height: 26px;
	line-height: 24px;
	text-align: center;
	font-family: 'Unica One', cursive;
	font-size: 20px;
	font-weight: bold;
	color: #aaa;
}

.appContent{
	width: 320px;
	height:480px;
	border-radius: 5px;	
	background: #ddd;
	position: relative;
	overflow: hidden;
}

.appContent .header{
	height: 42px;
	width: 100%;	
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;	
	box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.2);	
}

.appContent .header.black{
	border-bottom: 1px solid #000;
	background: rgb(124,124,124);
	background: -moz-linear-gradient(top,  rgba(124,124,124,1) 0%, rgba(85,85,85,1) 50%, rgba(51,51,51,1) 51%, rgba(51,51,51,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(124,124,124,1)), color-stop(50%,rgba(85,85,85,1)), color-stop(51%,rgba(51,51,51,1)), color-stop(100%,rgba(51,51,51,1)));
	background: -webkit-linear-gradient(top,  rgba(124,124,124,1) 0%,rgba(85,85,85,1) 50%,rgba(51,51,51,1) 51%,rgba(51,51,51,1) 100%);
	background: -o-linear-gradient(top,  rgba(124,124,124,1) 0%,rgba(85,85,85,1) 50%,rgba(51,51,51,1) 51%,rgba(51,51,51,1) 100%);
	background: -ms-linear-gradient(top,  rgba(124,124,124,1) 0%,rgba(85,85,85,1) 50%,rgba(51,51,51,1) 51%,rgba(51,51,51,1) 100%);
	background: linear-gradient(to bottom,  rgba(124,124,124,1) 0%,rgba(85,85,85,1) 50%,rgba(51,51,51,1) 51%,rgba(51,51,51,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c7c7c', endColorstr='#333333',GradientType=0 );
	z-index: -1;
}

.appContent .header .centerText{
	width: 200px;
	margin: 0px auto;
	margin-bottom: 5px;
	font-size: 24px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	color :#fff;
	text-shadow: 0 -1.5px 1px rgba(0,0,0,0.8);
	font-family: 'Gudea', sans-serif;
}

.appContent .header .button{
	margin: 6px 5px;

	border: 1px solid #333;
	border-radius: 5px;
	height: 28px;
	width: 40px;

	box-shadow: 0 1px 0 rgba(255,255,255,0.3),
				inset 0 1px 2px 0 rgba(0,0,0,0.4),
				inset 0 -10px 20px -2px rgba(0,0,0,0.2);
	cursor: pointer;
}

.appContent .header .button img{
	margin: 0 auto;
	display: block;
	margin: 3px auto;
}
.appContent .header .leftButton{
	float:left;
}

.appContent .header .rightButton{
	float:right;
}

.appContent .tabbar {
	position: absolute;
	bottom: 0;
	border-top: 1px solid #000;
	height: 60px;
	width: 320px;
	background: #111;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.appContent .tabbar .tabbar-ul{		
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
}

.appContent .tabbar .tabbar-ul li{
	height: 59px;
	float:left;
}
.appContent .tabbar .tabbar-ul.twoTab li{
	width: 160px;
}

.appContent .tabbar .tabbar-ul.threeTab li{
	width: 102px;
}
.appContent .tabbar .tabbar-ul.fourTab li{
	width: 80px;	
}

.appContent .tabbar .tabbar-ul.fiveTab li{
	width: 64px;
}

.appContent .tabbar a{
	text-decoration: none;
	display: block;
}

.appContent .tabbar .tabbar-ul li img{
	margin: 2px auto;
	margin-bottom: 0;
	display: block;
}

.appContent .tabbar .tabbarTitle{
	margin-top: -2px;
	text-align: center;
	font-size: 14px;
	color: #aaa;	
	font-family: 'Average Sans', sans-serif;
	font-weight: bold;
}

.appContent .tabbar .tabbar-ul li.selected .tabbarTitle{
	color: #fff;
}




.appContent .simple-icon-list{
	margin: 20px auto;
	width: 280px;
	background: #fff;
	padding: 0;
	list-style: none;

	border: 1px solid #222;

	border-radius: 10px;
	box-shadow: inset 0 0 3px 0 rgba(0,0,0,0.8),
				0 1px 0 0 rgba(255,255,255,0.3);
}

.appContent .simple-icon-list li{
	width: 260px;
	padding: 2px 10px;
	height: 40px;
	border-bottom: 1px solid #aaa;
	position: relative;
}

.appContent .simple-icon-list li:active{
	background: rgb(99,115,242);
	background: -moz-linear-gradient(top,  rgba(99,115,242,1) 0%, rgba(34,87,247,1) 50%, rgba(35,50,255,1) 51%, rgba(43,75,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(99,115,242,1)), color-stop(50%,rgba(34,87,247,1)), color-stop(51%,rgba(35,50,255,1)), color-stop(100%,rgba(43,75,255,1)));
	background: -webkit-linear-gradient(top,  rgba(99,115,242,1) 0%,rgba(34,87,247,1) 50%,rgba(35,50,255,1) 51%,rgba(43,75,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(99,115,242,1) 0%,rgba(34,87,247,1) 50%,rgba(35,50,255,1) 51%,rgba(43,75,255,1) 100%);
	background: -ms-linear-gradient(top,  rgba(99,115,242,1) 0%,rgba(34,87,247,1) 50%,rgba(35,50,255,1) 51%,rgba(43,75,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(99,115,242,1) 0%,rgba(34,87,247,1) 50%,rgba(35,50,255,1) 51%,rgba(43,75,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6373f2', endColorstr='#2b4bff',GradientType=0 );		
}

.appContent .simple-icon-list li:first-child{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.appContent .simple-icon-list li:last-child{
	border-bottom: 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.appContent .simple-icon-list .icon{
	position: absolute;
	top: 8px;
	left: 15px;
	width: 25px;
	height: 25px;
}

.appContent .simple-icon-list li a{
	font-family: 'Gudea', sans-serif;
	display: block;
	padding: 10px 40px;		
	text-decoration: none;
	color: #333;
	font-size: 16px;	
	background: url(img/arrowR.svg) no-repeat 100% 50%;
}

.appContent .simple-icon-list li:active a{
	color: #fff;
}