
.appContent.stratus{
	background: #333;
}

.appContent.stratus .header .leftButton{
	margin-left: 10px;
}
.appContent.stratus .header .rightButton{
	margin-right: 10px;
}


.appContent.stratus .header .button{
	margin-top: 5px;
	position: relative;
	background: rgba(60,60,60,1);	
	box-shadow: 
 		inset 0 2px 2px 0 rgba(255, 255, 255, 0.2), 		
 		inset 0 -10px 20px -2px rgba(0, 0, 0, 1),
 		0 2px 4px 0 rgba(255,255,255,0.9);

 	border-color: #111;
}

.appContent.stratus .header .button:active{
	
	box-shadow: 
 		inset 0 2px 2px 0 rgba(255, 255, 255, 0.2), 		 		
 		0 2px 4px 0 rgba(255,255,255,0.9);
	background: rgb(99,115,242);
	background: -moz-linear-gradient(top,  rgba(99,115,242,1) 0%, rgba(34,87,247,1) 50%, rgba(35,50,255,1) 51%, rgba(43,75,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(99,115,242,1)), color-stop(50%,rgba(34,87,247,1)), color-stop(51%,rgba(35,50,255,1)), color-stop(100%,rgba(43,75,255,1)));
	background: -webkit-linear-gradient(top,  rgba(99,115,242,1) 0%,rgba(34,87,247,1) 50%,rgba(35,50,255,1) 51%,rgba(43,75,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(99,115,242,1) 0%,rgba(34,87,247,1) 50%,rgba(35,50,255,1) 51%,rgba(43,75,255,1) 100%);
	background: -ms-linear-gradient(top,  rgba(99,115,242,1) 0%,rgba(34,87,247,1) 50%,rgba(35,50,255,1) 51%,rgba(43,75,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(99,115,242,1) 0%,rgba(34,87,247,1) 50%,rgba(35,50,255,1) 51%,rgba(43,75,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6373f2', endColorstr='#2b4bff',GradientType=0 );

}

.appContent.stratus .header .button:before{
	content: '';
	position: absolute;
	top: -3px;
	left: -3px;
	width: 42px;
	height: 30px;
	
	border-radius: 7px;
	border: 2px solid rgba(0,0,0,0.9);	
	background :rgba(0,0,0,0);
}
