
.appContent.stratus{
	background: #333;
}

.appContent.stratus .header{
	border-bottom: 1px solid #000;
	background: rgb(124,124,124);
	background: -moz-linear-gradient(top,  rgba(124,124,124,1) 0%, rgba(85,85,85,1) 50%, rgba(51,51,51,1) 51%, rgba(51,51,51,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(124,124,124,1)), color-stop(50%,rgba(85,85,85,1)), color-stop(51%,rgba(51,51,51,1)), color-stop(100%,rgba(51,51,51,1)));
	background: -webkit-linear-gradient(top,  rgba(124,124,124,1) 0%,rgba(85,85,85,1) 50%,rgba(51,51,51,1) 51%,rgba(51,51,51,1) 100%);
	background: -o-linear-gradient(top,  rgba(124,124,124,1) 0%,rgba(85,85,85,1) 50%,rgba(51,51,51,1) 51%,rgba(51,51,51,1) 100%);
	background: -ms-linear-gradient(top,  rgba(124,124,124,1) 0%,rgba(85,85,85,1) 50%,rgba(51,51,51,1) 51%,rgba(51,51,51,1) 100%);
	background: linear-gradient(to bottom,  rgba(124,124,124,1) 0%,rgba(85,85,85,1) 50%,rgba(51,51,51,1) 51%,rgba(51,51,51,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c7c7c', endColorstr='#333333',GradientType=0 );
	z-index: -1;
}


.appContent.stratus .header .leftButton{
	margin-left: 10px;
}
.appContent.stratus .header .rightButton{
	margin-right: 10px;
}


.appContent.stratus .header .button{
	margin-top: 5px;
	position: relative;
	background: rgba(60,60,60,1);	
	box-shadow: 
 		inset 0 2px 2px 0 rgba(255, 255, 255, 0.2), 		
 		inset 0 -10px 20px -2px rgba(0, 0, 0, 1),
 		0 2px 4px 0 rgba(255,255,255,0.9);

 	border-color: #111;
}

.appContent.stratus .header .button:active{
	
	box-shadow: 
 		inset 0 2px 2px 0 rgba(255, 255, 255, 0.2), 		 		
 		0 2px 4px 0 rgba(255,255,255,0.9);
	background: rgb(99,115,242);
	background: -moz-linear-gradient(top,  rgba(99,115,242,1) 0%, rgba(34,87,247,1) 50%, rgba(35,50,255,1) 51%, rgba(43,75,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(99,115,242,1)), color-stop(50%,rgba(34,87,247,1)), color-stop(51%,rgba(35,50,255,1)), color-stop(100%,rgba(43,75,255,1)));
	background: -webkit-linear-gradient(top,  rgba(99,115,242,1) 0%,rgba(34,87,247,1) 50%,rgba(35,50,255,1) 51%,rgba(43,75,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(99,115,242,1) 0%,rgba(34,87,247,1) 50%,rgba(35,50,255,1) 51%,rgba(43,75,255,1) 100%);
	background: -ms-linear-gradient(top,  rgba(99,115,242,1) 0%,rgba(34,87,247,1) 50%,rgba(35,50,255,1) 51%,rgba(43,75,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(99,115,242,1) 0%,rgba(34,87,247,1) 50%,rgba(35,50,255,1) 51%,rgba(43,75,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6373f2', endColorstr='#2b4bff',GradientType=0 );

}

.appContent.stratus .header .button:before{
	content: '';
	position: absolute;
	top: -3px;
	left: -3px;
	width: 42px;
	height: 30px;
	
	border-radius: 7px;
	border: 2px solid rgba(0,0,0,0.9);	
	background :rgba(0,0,0,0);		
}


.appContent.stratus .header .button img{
	margin: 3px auto;	
}


.appContent.stratus .simple-icon-list{
	margin: 20px auto;
	width: 280px;
	background: #fff;
	padding: 0;
	list-style: none;

	border: 1px solid #222;

	border-radius: 10px;
	box-shadow: inset 0 0 3px 0 rgba(0,0,0,0.8),
				0 1px 0 0 rgba(255,255,255,0.3);
}

.appContent.stratus .simple-icon-list li{
	width: 260px;
	padding: 2px 10px;
	height: 40px;
	border-bottom: 1px solid #aaa;
	position: relative;
}

.appContent.stratus .simple-icon-list li:active{
	background: rgb(99,115,242);
	background: -moz-linear-gradient(top,  rgba(99,115,242,1) 0%, rgba(34,87,247,1) 50%, rgba(35,50,255,1) 51%, rgba(43,75,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(99,115,242,1)), color-stop(50%,rgba(34,87,247,1)), color-stop(51%,rgba(35,50,255,1)), color-stop(100%,rgba(43,75,255,1)));
	background: -webkit-linear-gradient(top,  rgba(99,115,242,1) 0%,rgba(34,87,247,1) 50%,rgba(35,50,255,1) 51%,rgba(43,75,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(99,115,242,1) 0%,rgba(34,87,247,1) 50%,rgba(35,50,255,1) 51%,rgba(43,75,255,1) 100%);
	background: -ms-linear-gradient(top,  rgba(99,115,242,1) 0%,rgba(34,87,247,1) 50%,rgba(35,50,255,1) 51%,rgba(43,75,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(99,115,242,1) 0%,rgba(34,87,247,1) 50%,rgba(35,50,255,1) 51%,rgba(43,75,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6373f2', endColorstr='#2b4bff',GradientType=0 );		
}

.appContent.stratus .simple-icon-list li:first-child{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.appContent.stratus .simple-icon-list li:last-child{
	border-bottom: 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.appContent.stratus .simple-icon-list .icon{
	position: absolute;
	top: 8px;
	left: 15px;
	width: 25px;
	height: 25px;
}

.appContent.stratus .simple-icon-list li a{
	font-family: 'Gudea', sans-serif;
	display: block;
	padding: 10px 40px;		
	text-decoration: none;
	color: #333;
	font-size: 16px;	
	background: url(img/arrowR.svg) no-repeat 100% 50%;
}

.appContent.stratus .simple-icon-list li:active a{
	color: #fff;
}