	


.appContent.youtube{

	background: rgb(107,107,107);
	background: -moz-linear-gradient(top,  rgba(107,107,107,1) 0%, rgba(40,40,40,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(107,107,107,1)), color-stop(100%,rgba(40,40,40,1)));
	background: -webkit-linear-gradient(top,  rgba(107,107,107,1) 0%,rgba(40,40,40,1) 100%);
	background: -o-linear-gradient(top,  rgba(107,107,107,1) 0%,rgba(40,40,40,1) 100%);
	background: -ms-linear-gradient(top,  rgba(107,107,107,1) 0%,rgba(40,40,40,1) 100%);
	background: linear-gradient(to bottom,  rgba(107,107,107,1) 0%,rgba(40,40,40,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b6b6b', endColorstr='#282828',GradientType=0 );
}

.appContent.youtube .header{
	background: #333;
}

.appContent .header .leftButton{
	box-shadow: 0 0 0 0 #fff;
}
.appContent.youtube .youtubeIcon{
	display: block;
	margin: 0 auto;
	height: 50px;
}


.appContent.youtube .mainBoard , .appContent.youtube .dashBoard{
	position: absolute;
	width: 100%;
	height: 480px;
	left: 0;
	top: 0;	
	background: #fff;
	border-radius: 5px;
}

.appContent.youtube .mainBoard{	
	box-shadow: -4px 0 6px -1px rgba(0,0,0,0.8),
				0 0 0 1px rgba(0,0,0,0.6);

	border-radius: 10px;

	background: rgb(107,107,107);
	background: -moz-linear-gradient(top,  rgba(107,107,107,1) 0%, rgba(40,40,40,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(107,107,107,1)), color-stop(100%,rgba(40,40,40,1)));
	background: -webkit-linear-gradient(top,  rgba(107,107,107,1) 0%,rgba(40,40,40,1) 100%);
	background: -o-linear-gradient(top,  rgba(107,107,107,1) 0%,rgba(40,40,40,1) 100%);
	background: -ms-linear-gradient(top,  rgba(107,107,107,1) 0%,rgba(40,40,40,1) 100%);
	background: linear-gradient(to bottom,  rgba(107,107,107,1) 0%,rgba(40,40,40,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b6b6b', endColorstr='#282828',GradientType=0 );
}


.appContent .openSelectMenuButton{	
	display: block;
	position: absolute;
	top: 240px;
	left: 18px;

	width: 280px;
	margin: 0 auto;
	padding: 12px 0 8px 0;
	text-align: center;
	font-size: 28px;
	letter-spacing: 1px;
	color : #fff;
	text-decoration: none;
	
	border-radius: 8px;
	border: 2px solid #000;

	text-shadow: 0 -1px 0 rgba(0,0,0,0.8);

	box-shadow: inset 0  1px  2px 0 rgba(255,255,255,0.6),
				inset 0  -1px 1px 0 rgba(255,255,255,0.1),
				0 1px  1px 0 rgba(0,0,0,0.6);

	background: rgb(84,84,84);
	background: -moz-linear-gradient(top,  rgba(84,84,84,1) 0%, rgba(56,56,56,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(84,84,84,1)), color-stop(100%,rgba(56,56,56,1)));
	background: -webkit-linear-gradient(top,  rgba(84,84,84,1) 0%,rgba(56,56,56,1) 100%);
	background: -o-linear-gradient(top,  rgba(84,84,84,1) 0%,rgba(56,56,56,1) 100%);
	background: -ms-linear-gradient(top,  rgba(84,84,84,1) 0%,rgba(56,56,56,1) 100%);
	background: linear-gradient(to bottom,  rgba(84,84,84,1) 0%,rgba(56,56,56,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#383838',GradientType=0 );

}

.appContent .openDashBoardButton{
	margin-top: 90px;
	text-align: center;
	font-size: 24px;
	padding: 0 20px;
	color: #fff;
	text-shadow: 0 3px 0 #000;
}

.appContent .openSelectMenuButton:active{
	margin-top: 2px;
	background: rgb(61,61,61);
	background: -moz-linear-gradient(top,  rgba(61,61,61,1) 0%, rgba(96,96,96,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(61,61,61,1)), color-stop(100%,rgba(96,96,96,1)));
	background: -webkit-linear-gradient(top,  rgba(61,61,61,1) 0%,rgba(96,96,96,1) 100%);
	background: -o-linear-gradient(top,  rgba(61,61,61,1) 0%,rgba(96,96,96,1) 100%);
	background: -ms-linear-gradient(top,  rgba(61,61,61,1) 0%,rgba(96,96,96,1) 100%);
	background: linear-gradient(to bottom,  rgba(61,61,61,1) 0%,rgba(96,96,96,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#606060',GradientType=0 );
}

.appContent .selectMenu{
	border-top: 1px solid #fff;
	height: 416px;
	padding: 10px 0;
	bottom: -44px;

	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

	background: -moz-linear-gradient(top,  rgba(221,221,221,0.78) 0%, rgba(150,150,150,0.78) 6%, rgba(68,68,68,0.78) 7%, rgba(85,85,85,0.8) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,221,221,0.78)), color-stop(6%,rgba(150,150,150,0.78)), color-stop(7%,rgba(68,68,68,0.78)), color-stop(100%,rgba(85,85,85,0.8)));
	background: -webkit-linear-gradient(top,  rgba(221,221,221,0.78) 0%,rgba(150,150,150,0.78) 6%,rgba(68,68,68,0.78) 7%,rgba(85,85,85,0.8) 100%);
	background: -o-linear-gradient(top,  rgba(221,221,221,0.78) 0%,rgba(150,150,150,0.78) 6%,rgba(68,68,68,0.78) 7%,rgba(85,85,85,0.8) 100%);
	background: -ms-linear-gradient(top,  rgba(221,221,221,0.78) 0%,rgba(150,150,150,0.78) 6%,rgba(68,68,68,0.78) 7%,rgba(85,85,85,0.8) 100%);
	background: linear-gradient(to bottom,  rgba(221,221,221,0.78) 0%,rgba(150,150,150,0.78) 6%,rgba(68,68,68,0.78) 7%,rgba(85,85,85,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7dddddd', endColorstr='#cc555555',GradientType=0 );


	position: relative;

    transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;

	transition-timing-function: ease-in-out;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-timing-function: ease-in-out;
}

.appContent .selectMenu.hide{
	bottom: -480px;
}


.appContent .selectMenu .selectOptionButton{
	display: block;
	margin: 10px auto;
	width: 280px;
	height: 30px;
	padding: 5px 0;

	border: 3px solid #333;
	border-radius: 10px;

	text-align: center;	
	text-decoration: none;
	letter-spacing: 1px;
	font-size: 26px;
	color: #333;
	font-weight: bold;

	line-height: 30px;
	text-shadow: 0 1px 0 rgba(255,255,255, 0.6),
					0 -1px 0 rgba(255,255,255, 0.6);

	box-shadow: 0 1px 0 0 rgba(255,255,255,0.8),
				inset 0 0 1px 2px rgba(255,255,255,0.3);

	background: rgb(247,247,247);
	background: -moz-linear-gradient(top,  rgba(247,247,247,1) 0%, rgba(242,242,242,1) 50%, rgba(216,216,216,1) 51%, rgba(216,216,216,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(50%,rgba(242,242,242,1)), color-stop(51%,rgba(216,216,216,1)), color-stop(100%,rgba(216,216,216,1)));
	background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(242,242,242,1) 50%,rgba(216,216,216,1) 51%,rgba(216,216,216,1) 100%);
	background: -o-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(242,242,242,1) 50%,rgba(216,216,216,1) 51%,rgba(216,216,216,1) 100%);
	background: -ms-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(242,242,242,1) 50%,rgba(216,216,216,1) 51%,rgba(216,216,216,1) 100%);
	background: linear-gradient(to bottom,  rgba(247,247,247,1) 0%,rgba(242,242,242,1) 50%,rgba(216,216,216,1) 51%,rgba(216,216,216,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#d8d8d8',GradientType=0 );

}

.appContent .selectMenu .selectOptionButton:active{
	background: rgb(170,204,255);
	background: -moz-linear-gradient(top,  rgba(170,204,255,1) 0%, rgba(99,151,255,1) 48%, rgba(65,58,255,1) 50%, rgba(7,98,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(170,204,255,1)), color-stop(48%,rgba(99,151,255,1)), color-stop(50%,rgba(65,58,255,1)), color-stop(100%,rgba(7,98,255,1)));
	background: -webkit-linear-gradient(top,  rgba(170,204,255,1) 0%,rgba(99,151,255,1) 48%,rgba(65,58,255,1) 50%,rgba(7,98,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(170,204,255,1) 0%,rgba(99,151,255,1) 48%,rgba(65,58,255,1) 50%,rgba(7,98,255,1) 100%);
	background: -ms-linear-gradient(top,  rgba(170,204,255,1) 0%,rgba(99,151,255,1) 48%,rgba(65,58,255,1) 50%,rgba(7,98,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(170,204,255,1) 0%,rgba(99,151,255,1) 48%,rgba(65,58,255,1) 50%,rgba(7,98,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaccff', endColorstr='#0762ff',GradientType=0 );

	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0, 0.6),
					0 -1px 0 rgba(0,0,0, 0.6);
}

.appContent .selectMenu .cancelButton{
	margin-top: 25px;
	color: #fff;

	text-shadow: 0 1px 0 rgba(0,0,0, 0.6),
					0 -1px 0 rgba(0,0,0, 0.6);

	box-shadow: 0 0 2px 0 rgba(255,255,255,0.8),
				inset 0 0 1px 2px rgba(255,255,255,0.2);

	background: rgb(174,188,191);
	background: rgb(85,85,85);
	background: -moz-linear-gradient(top,  rgba(85,85,85,1) 0%, rgba(51,51,51,1) 50%, rgba(10,14,10,1) 51%, rgba(10,8,9,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(85,85,85,1)), color-stop(50%,rgba(51,51,51,1)), color-stop(51%,rgba(10,14,10,1)), color-stop(100%,rgba(10,8,9,1)));
	background: -webkit-linear-gradient(top,  rgba(85,85,85,1) 0%,rgba(51,51,51,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%);
	background: -o-linear-gradient(top,  rgba(85,85,85,1) 0%,rgba(51,51,51,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%);
	background: -ms-linear-gradient(top,  rgba(85,85,85,1) 0%,rgba(51,51,51,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%);
	background: linear-gradient(to bottom,  rgba(85,85,85,1) 0%,rgba(51,51,51,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#0a0809',GradientType=0 );
}

.appContent.youtube .dashBoard{
	font-family: 'Gudea', sans-serif;

}


.appContent.youtube .dashBoard .title{
	padding: 6px 10px;
	background: url(img/youtubeDashBoardTitle.png);
	color: #fff;	
	font-size: 14px;	
	letter-spacing: 1px;
	box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.4),
				inset 0 -1px 0 0 rgba(0,0,0,0.4);
}

.appContent.youtube .dashBoard .title:first-child{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.appContent.youtube .dashBoard ul.list{
	border-top: 1px solid #222;
	border-bottom: 1px solid #222;
	background : #bc413b;
}

.appContent.youtube .dashBoard ul.list li{		
	border-bottom: 1px solid #222;
	border-top: 1px solid #444;
	background : #333;
}
.appContent.youtube .dashBoard ul.list .selected{
	margin-left: 4px;
	background : #222;
}
.appContent.youtube .dashBoard ul.list a{	
	font-size: 14px;
	color: #999;
	display: block;
	padding: 15px 10px;
}
.appContent.youtube .dashBoard ul.list .selected a{
	color: #fff;
}
.appContent.youtube .dashBoard ul.list .icon{
	float:left;
}

.appContent.youtube .dashBoard ul.list .thumbnail{
	width: 40px;
	height: 40px;
	border-radius: 10px;
	background: #fff;
	margin-top: -12px;
}

.appContent.youtube .dashBoard ul.list .icon.active{
	display:none;
}

.appContent.youtube .dashBoard ul.list a > span{
	margin-left: 10px;
}

.appContent.youtube .dashBoard ul.list .selected .icon{
	display: none;
}

.appContent.youtube .dashBoard ul.list .selected .icon.active{
	display: inherit;
}